<div class="d-flex flex-column flex-md-row align-items-center justify-content-between p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm fixed-top">
    <img src="/assets/task-manager-logo.png" style="height: 40px; max-width: 200px;" alt="logo" class="logo">
    <nav class="my-2 my-md-0 mr-md-3 text-uppercase" style="font-size: larger;">

      <a class="p-2" routerLink="/shop" routerLinkActive="active"></a>
    </nav>
    <div class="d-flex align-items-center">
      <select class="custom-slect" [(ngModel)]="currentLanguage" (ngModelChange)="switchLanguage()">
        <option value="en">English</option>
        <option value="fr">Français</option>
      </select>
      <ng-container *ngIf="!currentUser">
        <a routerLink="/account/login" class="btn btn-outline-secondary mr-4 button-customer"> {{ 'AUTHENTIFICATION.LOGIN' | translate }}</a>
        <a routerLink="/account/register" class="btn btn-outline-secondary mr2 button-customer"> {{ 'AUTHENTIFICATION.REGISTERING' | translate }}</a>
      </ng-container>
  
      <ng-container *ngIf="currentUser">
        <button mat-icon-button color="accent" matTooltip="Statistique" routerLink="/statistic">
          <mat-icon> pie_chart</mat-icon>
        </button>
        <button mat-icon-button color="accent" matTooltip="Deconnexion" (click)="logout()">
          <mat-icon>exit_to_app</mat-icon>
        </button>
      </ng-container>
    </div>
    
  </div>