  <div class="container">
    <h4 class="text-center mt-2">Ajouter une tâche</h4>
        <div class="row">
            <form [formGroup]="createTask" (ngSubmit)="createNewTask()">
              <div class="col-sm-6">
                <label for="floatingInput"> Nom</label>
                <input formControlName="name" type="name" class="form-control" id="floatingInput" placeholder="Ex:montage cuisine">
              </div>
              <div class="col-sm-6">
                <label for="floatingInput">Description</label>
                <input formControlName="description" type="description" class="form-control" id="floatingInput" placeholder="Description">
                
              </div>
              <br>
              <div class="col">
                <mat-form-field appearance="outline">
                  <mat-label>Statut</mat-label>
                  <mat-select formControlName="status">
                    <mat-option value="Pannifier">Pannifier</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              
              <button class="btn btn-primary button-customer mt-2" type="submit"> Ajouter</button>
            </form>
          </div>
  </div>
